Source: gamescope
Section: contrib/games
Priority: optional
Maintainer: Jarrad Whitaker <akdor1154 📧 gmail.com>
Homepage: https://github.com/akdor1154/gamescope-pkg
Vcs-Browser: https://github.com/akdor1154/gamescope-pkg
Vcs-Git: https://github.com/akdor1154/gamescope-pkg

Package: gamescope
Architecture: amd64
Depends: ${shlibs:Depends}, libcap2-bin
Description: Micro-compositor for game scaling
 Unofficial package for the Gamescope compositor.
 Gamescope itself is maintained at https://github.com/ValveSoftware/gamescope.
 Please do not report bugs to the Gamescope authors unless you have tested
 with Gamescope compiled yourself from that upstream repo.
